{% extends 'base.html' %}
{% load static %}

{% block title %}Designer Profile Detail{% endblock %}
{% block link %}{% static 'css/detail.css' %}{% endblock %}

<!-- Main Contents -->
{% block content %}
<div class="container">
    <div id="designer" class="row featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">{{designer.name}} <span id="namedeco" class="text-muted">Hair
                    Designer</span></h2>
            <h5 class="featurette-heading">"{{designer.address}}"에서 활동 중입니다.</h5>
            <p class="lead">{{designer.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'update' designer.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a href="{% url 'delete' designer.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ designer.image.url }}" width="100%" alt="Designer_Profile_Image">
        </div>
    </div>
</div>
{% endblock %}