{% extends 'base.html' %}
{% load static %}

{% block title %}Introduce Dreamary Service{% endblock %}
{% block link %}{% static 'css/introduce.css' %}{% endblock %}

{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-7 px-0">
        <h1 class="display-4 font-bold">Dreamary</h1>
        <p class="lead my-5">드리머리는 헤어샵 예비 디자이너와 일반 대중을 연결하는 020 플랫폼입니다. 플랫폼을 통해 일반 소비자들은 예비 헤어 디자이너들의 포트폴리오와 이력, 리뷰, 별점
            등을 확인하고 매우 합리적인 가격에 서비스를 제공받을 수 있습니다.
        </p>
    </div>
</div>
{% endblock %}